<div class="device-page">
  <%= render 'device', device: @device, total_submissions: @total_submissions, last_submission: @last_submission, forms: @forms %>
</div>

<script>
  // Simple page refresh every 10 seconds
  setTimeout(function() {
    window.location.reload();
  }, 10000);
</script>