<header>
  <h1>Device &amp; Form Links</h1>
</header>

<div class="center">
  <p>Links to all available device and form combinations, with QR codes</p>

  <% if @devices.any? && @forms.any? %>
    <%= render partial: 'shared/form_device_links', locals: { devices: @devices, forms: @forms } %>
  <% else %>
    <p>
      <% if !@devices.any? %>
        No active devices available. <%= link_to "Create a device", new_device_path %> first.
      <% end %>

      <% if !@forms.any? %>
        <% if !@devices.any? %><br><% end %>
        No forms available. <%= link_to "Create a form", new_form_path %> first.
      <% end %>
    </p>
  <% end %>
</div>
